@media (min-width:768px){
    article{
      display: flex;
    }
    .imgequipe{
      height: 200px;
    }
  }
  
@media (max-width:769px){
	article{
		text-align: center;
	}
   .imgequipe{
     height: 200px;
   }

  }