@font-face {
	font-family: "Libre Basker Ville";
	src: url('../Polices/LibreBaskerville-Regular.ttf');
}
@font-face {
	font-family: "Sources Sans Pro";
	src: url('../Polices/SourceSansPro-Regular.ttf');
}
        /* Style de Base */

* {
  box-sizing: content-box;
}

main{
  display: flex;
  flex-direction : column;
  
}

.main {
  display: flex;
  flex-direction : column;
  align-items:center;
  margin-bottom: 50px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Libre Basker Ville", serif;
  padding: 20px;
}

p{
  font-family: "Sources Sans Pro", sans-serif;
  margin : 0;
  padding: 20px;
}

html{
  margin: 0;
  padding: 0;
}

body{
  
  font-family: "Sources Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  margin: auto;
  background-color:#F5F5F5;
}

article{
  background-color: #FFF;
  margin: 40px auto;
  margin-bottom: 0;
  width: 80%;
  box-shadow: 0px 10px 10px rgba(112, 112, 112, 0.3); 
}



          /* Footer */

footer{
  bottom: 0;
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #FFF;
  background-color: #409291;

}

.reseaux{
  height: 30px;
}

       /*Css Format telephone*/
@media (max-width: 768px){
/* Caché menu version ordi */
.submenu{
  display: none;
}
#item1{
  display: none;
}
ul{
  list-style-type: none;
}
/* Menu version telephone */
.menu
{
  background:#409291;
  color:#fff;
  height:80px;
  position:relative;
}

.menu .title
{
  font-size:60px;
  font-weight:bold;
  line-height:50px;
  padding:10px 20px;
}
.menu nav a{
  text-decoration: none;
  color : #fff;
}
.menu nav
{
  background:inherit;
  font-size:60px;
  height:0;
  overflow:hidden;
  transition:height .2s;
}

.menu nav > *
{
  display:block;
  line-height:2;
  padding:0 20px;
  width:100%;
}

.menu .burger
{
  
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  cursor:pointer;
  font-size:70px;
  line-height:50px;
  position:absolute;
  text-align:center;
  top:0;
  right:10px;
  width:50px; 
}

.menu .burger:before
{
  content: url(./../images/close.svg);
}

.menu .burger:checked:before
{
  content: url(./../images/menu.svg);
}
.menu .burger:checked + nav
{
  height:calc(100vh - 80px);
}

}
      /* Css version ordinateur */
@media screen and (min-width : 769px){
  /* Caché menu version mobile */
  .title, .burger{
    display: none;
  }
  main{
    margin-top: 100px;
    width: 80%;
  }
  /* Menu version ordinateur */

  nav {
  font-family: "Libre Basker Ville", sans-serif;
  position: fixed;
  display: inline-flex;
  top:0;
  width: 100%;
  border-bottom: 1px solid #EEEEEE;
  justify-content: center;
  background-color: white;
}


#logo{
  width:100%;
  height:35px;
}

ul {
  display : inline-flex;
  list-style-type: none;
  padding: 0;
  margin : 0;
}

li a {
  display: block;
  color: #707070;
  text-align: center;
  text-decoration: none;
}

li{
  border-bottom: 4px solid white;
}

li:hover {
  border-bottom: 4px solid #409291;
}

#item1:hover {
  border-bottom: 4px solid #fff;
}

nav li:hover .submenu{
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  top: 100%;
}

.submenu li a{
  padding: 15px 0px;
  width: 100%;
  color : black;
}


.submenu{ 
  width: 100%;
  display: none;
  background-color: white;
}

nav > ul > li{ /* Style des elements de la navbar */
  position: relative;
}


nav > ul > li > a{ /* Style des liens de la navbar */
  padding: 20px 30px 0px 30px;
  color : black;

}

#item1 { /* Logo de la navbar */
  padding: 0px 30px 0px 30px;
}

}