
body{
  padding: 0;
  width: 100%;
  margin: auto;
}
/*
nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  background-color: rgb(133, 133, 133);
}

nav li {
  display: inline-block;
  width: 120px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-right: 1px solid #CCC;
  text-align: center;
  line-height: 40px;
}
nav li:hover{
  background-color: #338888;
}

nav li a{
  text-decoration: none;
  color: #fff;
}
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.reseaux{
  height: 30px;
}

article {
  width: 67%;
}

